# Flask API and backend communication
Flask
requests
python-dotenv
gunicorn

# Stripe payment handling
stripe

# Face recognition (DeepFace uses many dependencies)
deepface
scipy
numpy
opencv-python
Pillow

# GUI
tk

# Optional (in case of compatibility issues with DeepFace backend)
tensorflow>=2.5.0
